.movie-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 144%;
    height: 55vh;
    top: 130px;
    right: 200px;
}

.img-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.img-detail {
    width: 440px;
    height: 640px;
}

.back-btn {
    position: relative;
    border: 3px solid #000;
    fill: #FFF;
    border-radius: 25px;
    width: 160%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.back-btn:hover {
    background-color: #000;
    color: #fff;
}

.movie-detail-text {
    display: flex;
    flex-direction: column;

    padding-top: 20px;;
    padding-left: 50px;
    text-align: start;
}

.info{
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-detail {
    font-size: 1.9em;
}